<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smile.vhaconsultancy"

    xmlns:tools="http://schemas.android.com/tools">

    <application

        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity  android:exported="true"
            android:name=".activities.TermsAndConditionsActivity"
            android:label="@string/terms_and_conditions"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity  android:exported="true"
            android:name=".payment.PaymentOctoberActivity"
            android:label="@string/payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity  android:exported="true"
            android:name=".payment.PaymentBerryStageActivity"
            android:label="@string/payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity  android:exported="true"
            android:name=".payment.PaymentAprilActivity"
            android:label="@string/payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity  android:exported="true"
            android:name=".activities.ProfileActivity"
            android:label="@string/profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity  android:exported="true"
            android:name=".activities.AddPlotActivity"
            android:label="@string/add_plot"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity  android:exported="true"
            android:name=".activities.CreateCartActivity"
            android:label="@string/create_cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity  android:exported="true"
            android:name=".activities.PlotListActivity"
            android:label="@string/title_plot_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity  android:exported="true"
            android:name=".activities.OrderListActivity"
            android:label="@string/title_order_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity  android:exported="true"
            android:name=".activities.AprilPruningListActivity"
            android:label="@string/title_pruning_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity  android:exported="true"
            android:name=".activities.OctoberPruningListActivity"
            android:label="@string/title_pruning_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity xmlns:android="http://schemas.android.com/apk/res/android"
            android:name="com.payu.custombrowser.PreLollipopPaymentsActivity"
            android:exported="true">

        </activity>
        <activity android:exported="true"
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity  android:exported="true"
            android:name=".activities.PhoneAuthActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>